@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes softPulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

.animate-softPulse {
  animation: softPulse 5s ease-in-out infinite;
}
